body {
  font-family: 'Droid Serif', serif;
  font-size: 3vw;
  color: #2f2f2f;
  background-color: #f9f7f1;
  font-family: 'Playfair Display', serif;

}

h1 {
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 2vw;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 1.2vw 0 1.2vw 0;
  margin: 2vw 0;
  font-size: 3vw;
}


.head {
  text-align: center;
  position: relative;
  font-size:2vw;
}
